:root {
  --brand-color: #2196F3;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --button-text-color: #fff;    
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 400 14px/1.71 Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2,
h3
{
  color: var(--second-text-color);  
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  width: 200px;
  min-height: 50px;

  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--button-text-color);

  cursor: pointer;
}

.text-center {
  text-align: center;
}


/* ======================= HEADER =================== */

.logo {
  font: 700 26px/1.48 Raleway, sans-serif;
  color: #000;
}

.logo-web {
  color: var(--brand-color);
}

.site-nav-item,
.get-in-touch-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-item {
  color: var(--second-text-color);
}

.address > .get-in-touch-item {
  color: rgba(255, 255, 255, 0.6);
}

.get-in-touch-item {
  color: inherit;
}

.site-nav-item:hover,
.get-in-touch-item:hover {
  color: var(--brand-color);
}


/* ======================= PROMO ===================== */

.promo {
  background-color: #2e2e2e; /*temporary*/
}

.credo {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #fff;
}

.order-btn {
  padding: 10px 24px;
}

.order-btn:hover {
  background-color: #188CE8;
}


/* ======================== WHAT-WE-DO ========================== */

.features-item {
  width: 270px;
}

.features-header {
  text-transform: uppercase;
}


/* ======================== OUR-TEAM ============================ */

.our-team {
  background-color: #F5F4FA;
}

.our-team-item {
  width: 270px;
  height: 368px;
}

.our-team-item .occupation {
  text-align: center;
}


/* ========================= FOOTER =================================== */

footer {
  background-color: #2F303A;
}

.address {
  font-style: normal;
  color: #fff;
}

.address .get-in-touch {
  font-size: normal;
}

.address-street {  
  color: #fff;
}



/* ====================== INNER PAGES ============================= */

/* ======================= PORTFOLIO =============================== */
/* ===================== PORTFOLIO-FILTER ========================== */

.portfolio-toggle {
  width: 125px;
  height: 38px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--second-text-color);

  background-color: #F5F4FA;
  border: none;
  border-radius: 4px;
}

.portfolio-toggle:hover {
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
              0px 1px 2px rgba(0, 0, 0, 0.08),
              0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--button-text-color);
}


/* ======================= PORTFOLIO-LIST ========================= */

.portfolio-list-item {
  width: 370px;
  height: 404px;
}

.portfolio-link {
  color: inherit;
}