:root {
  --references-color: #2196F3;
}

* {box-sizing: border-box;}

body {
  font: 400 14px/24px Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
}

img {
  max-width: 100%;
  height: auto;
}

ul {list-style: none;}
a {text-decoration: none;}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ======================= HEADER =================== */

.logo {
  font: 700 26px/31px Raleway, sans-serif;
  color: #000;
}

.logo-web {color: #2196F3;}


/* ======================= PROMO ===================== */

.site-nav-item,
.get-in-touch-item {
  font: 500 14px/16px Roboto, sans-serif;
  letter-spacing: 0.02em;
  color: #212121;
}

.get-in-touch-item {color: #757575;}

.site-nav-item:hover,
.get-in-touch-item:hover {
  color: var(--references-color);
}

