.logo {
  font: 700 24px/1.17 Raleway, sans-serif;
  letter-spacing: 0.03em;
  color: #000;

  @media screen and (min-width: 768px) {
    margin-right: 87px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 92px;

    font-size: 26px;
    line-height: 1.48;
  }
}

.logo-web {  
  color: var(--brand-color);
}